.main-text {
    font-size: 48px;
    font-weight: 600;
}

.sub-text {
    font-size: 18px;
}

.wrapper {
    min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}